body
    {
        background-color: #b0c4de;
    }

h1 
    {	
        background-color: #3B5998;
	font-family: 'Big Shoulders Stencil Text', cursive;
	font-size: 70px; 
	color: white;
	border: solid;
	border-color: #eedfe5;
	border-radius: 50px;
    }
h3
    {
	background-color:#332255;
	font-family: 'Source Code Pro', monospace;
	font-size: 50px; 
	color: white;
	text-allign: center;
	border: solid;
	border-color: black;
	border-radius: 50px;
    }
p
    {
	background-color: #332288;
	font-family: 'Shadows Into Light', cursive;
	font-size: 50px; 
	color: white;
	text-allign: center;
	border: solid;
	border-color: black;
	border-radius: 50px;          
    }




a:link, a:visited
	{
	background-color: black;
	color: gold;
	text-allign: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 25px;
	padding: 15px;           
   	}

a:hover, a:active
	{
	background-color: blue;
	color: black;          
   	}